<a href="https://colab.research.google.com/github/Danny19283838/2023Fall-BIOC-6223/blob/main/Arithmetic_and_Variables_Lesson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello, World!")

Hello, World!

In [2]:
print(1 + 2)

3

In [3]:
print(9 - 5)

4

In [5]:
print(((1 + 3) * (9 - 2) / 2) ** 2)

196.0

In [6]:
# Multiply 3 by 2
print(3 * 2)

6

In [7]:
# Create a Variable called test_var and give it a value of 4+5
test_var = 4 + 5

# Print the value of test_var
print(test_var)

9

In [8]:
# Set the value of a new variable to 3
my_var = 3

# Print the value of my_var
print(my_var)

# Change the value of my_var to 100
my_var = 100

# Print the changed value of my_var
print(my_var)

3
100

In [9]:
# Print my_var value
print(my_var)

# Print test_var value
print(test_var)

100
9

In [10]:
# Increase the value by 3
my_var = my_var + 3

# Print the value of my_var
print(my_var)

103

In [11]:
# Create Variables
num_years = 4
days_per_year = 365
hours_per_day = 24
mins_per_hour = 60
secs_per_min = 60


# Calculate the number of seconds in 4 Years
total_secs = num_years * days_per_year * hours_per_day * mins_per_hour * secs_per_min
print(total_secs)

126144000

In [12]:
# Update to Include Leap Years
days_per_year = 365.25

# Calculate the number of seconds in 4 years
total_secs = num_years * days_per_year * hours_per_day * mins_per_hour * secs_per_min
print(total_secs)

126230400.0

In [13]:
print(hours_per_day)

24